$BordersColor: #a5bcc9;
$MarginContainer: 0.5em;
$MarginZones: 0.5em;
$IconButtonsSize: 1.1em;
$tall: 100px;
$borderRadius: 25px;
$smallSize:0.7em;
$postboardHeight: 65vh; // vh = Visual Height = Screen res 82
$postFormHeight: 150px;  

/* HTML5 selectors */

html, body {
	padding:0;
	margin:0;
}
body {
    background-color: #fefefe;
}
header {
	@extend %peter-river-900bk;
	height: 100px;
	margin-bottom: $MarginZones;
	padding: 1em;
	color: #fff;
	img {
		width:40px;
		height:40px;
		float: left;
	}
	h1, h2 {
		margin-top:5px; 
		display: inline-block;
	}
}
footer {
	@extend %turquoise-500bk;
	width: 100%;
	height: 60px;
	color: #fff;
	padding: 1em;
	margin-top: 50px;
}

.MyContainer {
	margin: 0 $MarginContainer; /* Top-Bottom, Right-Left */
	padding: 1px;
}

small {
	font-size: $smallSize;
}

.clear {
	clear: both;
	display:block;
	height: 1em;
	line-height: 1em;
}

// Hidden and Visible witrh Animation
.hidden { 
	animation-name: a_hidden;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.visible { 
	animation-name: a_visible;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

// POSTS Styles
article {
	/*
	WHERE POST LISTS ARE DISPLAYED
	@extend %silver-200bk;
	@extend %peter-river-50bk;
	*/
	@extend %peter-river-100bk;

	height: $postboardHeight;
	padding: 1em;
	margin-left: $MarginZones;
	margin-right: 0;
	border: 1px solid $BordersColor;
	display: block;
	overflow-y: scroll;
}

%userPost {
	border-radius: $borderRadius;
  	padding: 0.5em 1em;
  	margin: 0;
  	vertical-align: middle;
}
.currentUserPost {
	@extend %userPost;
	@extend %turquoise-200bk;
}
.otherUserPost {
	@extend %userPost;
  	background-color: white;
}
%extreme-aligned {
	width: 50%;
	display: block;
	clear: both;
	.postman {
		line-height: $smallSize;
		padding: 0 0 1em ($borderRadius - 7px);
	}
}
.left-aligned {
	@extend %extreme-aligned;
	float:left;
}
.rigth-aligned {
	@extend %extreme-aligned;
	float:right;
}

// POST FORM
#postSection {
}
#postForm {
	height: $postFormHeight;
	padding: 0.5em 0.5em 0 0.5em;
	margin: 0 0 0 $MarginZones;
	border: 1px solid $BordersColor;
	i {
		@extend %peter-river-700;
	}
}
#postForm.hidden, #postForm.visible { 
	$tall: $postFormHeight;
}

/* Attached Images */
#attachedImage { // Div wraper for the image-thumb
    visibility: hidden;
  	margin: 0 3px 0 0;
  	max-height: 40px;
  	max-width: 40px;
}
#attachedImage.hidden, #attachedImage.visible { 
	$tall: 40px; /* 2.5em;*/
}
.image-post { // The image with the post message
    max-height: 120px;
    border: 1px solid $BordersColor;
    margin: 5px;
    clear: right;
	display:block;
	line-height: 120px;
}
.image-thumb { // The small preview of the image before posting
    height: 32px;
    border: 1px solid $BordersColor;
    margin: 5px;
}
.image-upload {
	margin-top: 3px;
	span { // Icon buttons wrapers
	    font-size: 16px;
	    cursor: pointer;
	}
}

// Icons & Buttons
.userOnline {
	color: rgb(103,200,101);
	font-size: $IconButtonsSize;
}
.classButton {
	@extend %sunflower;
	font-size: $IconButtonsSize;
    cursor: pointer;
}
.classIcon {
	@extend %sunflower;
	font-size: $IconButtonsSize;
}

// Alert Messages
#message_zone {
	margin: 0;
	padding-top: 0px;
	font-style: italic;
    visibility: hidden;

	animation-delay: 200ms;
    animation-name: a_messageZone;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
/*	text-align: center; */
}

// Channels
aside {
	@extend %peter-river-700bk;
	height: calc($postboardHeight + $postFormHeight);
	padding: 1em;
	color: #fff;
	border: 1px solid $BordersColor;
}

#channelSelect {
	display: inline;
	width: calc(100% - 2*1.1em);
}
#channelsSection {
	hr {
		border-top: 1px solid silver;
	}
}
#channelForm {
    visibility: hidden;
}
#channelForm.hidden,#channelForm.visible { 
	$tall: 2.5em;
}


/* MEDIA RULES */
@media screen and (max-width: 600px) {
	/* Inheritance */
	%CommonTitles {
		font-weight: bold;
	}
	h1 {
		@extend %CommonTitles;
		font-size: 110%;
	}
	h2 {
		@extend %CommonTitles;
		font-size: 90%;
	}
	h3 {
		@extend %CommonTitles;
		font-size: 80%;
	}
}

/* ANIMATIONS */ 

/* MessageZone animation */
@keyframes a_messageZone {
  0%{
    visibility: visible;
    opacity: 1;
  }
  25%{
    opacity: 1;
  }
  50%{
    opacity: 1;
    /* transform: rotateX(30deg); */
  }
  75%{
    opacity: 0.2;
    height: 4.1em;
    /* transform: rotateX(60deg); */
  }
  100%{
    opacity: 0;
    height: 0px;
    visibility: hidden;
    /* transform: rotateX(90deg); */
  }
}
/* General animations */
@keyframes a_hidden {
  0%{
    opacity: 1;
    height: $tall;
  }
  100%{
    opacity: 0;
    height: 0px;
    visibility: hidden;
  }
}
@keyframes a_visible {
  0%{
    opacity: 0;
    height: 0px;
  }
  100%{
    height: $tall;
    opacity: 1;
  }
}

/*  Flat color palette (full) downloaded from
 *  http://htmlcolorcodes.com/color-charts/
 *
 *  Check out our powerful color picker
 *  http://htmlcolorcodes.com/color-picker/
 *
 *  Want to learn more about colors in SCSS?
 *  http://htmlcolorcodes.com/tutorials/
 *
 *  - - - - - - - - - - - - - - - - - - 
 *  Credits:
 *
 *  Original color palette by
 *  http://designmodo.github.io/Flat-UI/
 *
  */

/* Turquoise */
%turquoise { color: #1abc9c; }
%turquoise-50 { color: #e8f8f5; }
%turquoise-100bk { background-color: #d1f2eb; }
%turquoise-200bk { background-color: #a3e4d7; }
%turquoise-300 { color: #76d7c4; }
%turquoise-400 { color: #48c9b0; }
%turquoise-500bk { background-color: #1abc9c; }
%turquoise-600 { color: #17a589; }
%turquoise-700 { color: #148f77; }
%turquoise-800 { color: #117864; }
%turquoise-900 { color: #0e6251; }

/* Peter River */
.peter-river { color: #3498db; }
%peter-river-50bk { background-color: #ebf5fb; }
%peter-river-100bk { background-color: #d6eaf8; }
%peter-river-200bk { background-color: #aed6f1; }
.peter-river-300 { color: #85c1e9; }
.peter-river-400 { color: #5dade2; }
.peter-river-600 { color: #2e86c1; }
%peter-river-700bk { background-color: #2874a6; }
%peter-river-700 { color: #2874a6; }
.peter-river-800 { color: #21618c; }
%peter-river-900bk { background-color: #1b4f72; }

/* Sunflower */
%sunflower { color: #f1c40f; }
.sunflower-50 { color: #fef9e7; }
.sunflower-100 { color: #fcf3cf; }
.sunflower-200 { color: #f9e79f; }
.sunflower-300 { color: #f7dc6f; }
.sunflower-400 { color: #f4d03f; }
.sunflower-500 { color: #f1c40f; }
.sunflower-600 { color: #d4ac0d; }
.sunflower-700 { color: #b7950b; }
%sunflower-800 { color: #9a7d0a; }
.sunflower-900 { color: #7d6608; }

/* Silver */
%silver { color: #bdc3c7; }
%silver-50bk { background-color: #f8f9f9; }
%silver-100bk { background-color: #f2f3f4; }
%silver-200bk { background-color: #e5e7e9; }
%silver-300bk { background-color: #d7dbdd; }
.silver-400 { color: #cacfd2; }
.silver-500 { color: #bdc3c7; }
.silver-600 { color: #a6acaf; }
.silver-700 { color: #909497; }
.silver-800 { color: #797d7f; }
%silver-900bk { background-color: #626567; }

/*  Want more? Check our our other color palettes at
 *  http://htmlcolorcodes.com/color-charts/
 */