{% extends "layout.html" %}

{% block title %}
    Chat room
{% endblock %}

{% block head %}
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/attachments.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

{% block body %}
<div id="message_zone">
    <div id="message_div" class="alert" role="alert"></div>
</div>

<!-- 1st section - username LOGIN -->
<section id="getUserNameSection" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Type your username to enter the room</h2>
        <div class="form-group">
            <input class="form-control" id="usernameField" name="usernameField" placeholder="Username" size=25 required>
        </div>
        <div class="form-group">
            <button id="loginButton" class="btn btn-primary">Start chating</button>
        </div>
    </div>
</section>
<!-- End 1st section -->

<div class="row no-gutters">
    <!-- 2nd section Channels Operation -->
    <section id="channelsSection" class="col-xs-6 col-sm-5 col-md-4 col-lg-3 col-xl-3">
        <aside>
            <div id="usernameDiv">
                <span class="userOnline" title="Available">
                    <i class="fa fa-circle"></i>
                </span>
                &nbsp;<span id="usernameText">_</span>
                <br>
                <label title="Logout" for="logoutButton">
                    <span class="classButton">
                        <i class="fa fa-sign-out fa-1x"></i>
                        &nbsp;<small>Logout</small>
                    </span>
                    <button id="logoutButton" class="btn btn-primary btn-sm" hidden></button>
                </label>
            </div>
            <hr>
            <div class="form-group">
                <label title="Select a Channel" for="channelSelect">
                    <span class="classIcon">
                        <i class="fa fa-users fa-1x"></i>
                    </span>
                </label>
                &nbsp;
                <select id="channelSelect">
                    <option value="none" selected="">None</option>
                </select>
            </div>
            <span id="addNewChannel" class="classButton" title="Add a new channel">
                <i class="fa fa-plus fa-1x"></i>
                &nbsp;<small>Add new channel</small>
            </span>
            <div id='channelForm'>
                <div class="input-group">
                    <input class="form-control width100" id="channelField" name="channelField" placeholder="Channel name" size=25 required>
                    <span class="input-group-btn">
                        &nbsp;<button id="createChannelButton" class="btn btn-primary">Create</button>
                    </span>
                </div>
            </div>
            <hr>
            <!-- for future use
            <div class="form-group">
                <button id="deleteChannelButton" class="btn btn-primary">Delete Selected channel</button>
            </div>
            -->
        </aside>    
    </section>
    <!-- End 2nd -->

    <!-- 3rd section Posts Secction -->
    <section id="postsSection" class="col-xs-6 col-sm-7 col-md-8 col-lg-9 col-xl-9">
        <!-- List of Posts -->
        <article>
            <h3><span id="channelName"></span></h3>
            <br>
            <div id="posts">
            </div>
        </article>

        <!-- Post input, buttons and attachments -->
        <div id='postForm'>
            <div class="input-group">
                <div id="attachedImage"></div>&nbsp;

                <textarea class="form-control" id="postMessageField" name="postMessageField" placeholder="This is my message" size=250 required></textarea>
                &nbsp;
                <label title="Post" for="postMessageButton">
                    <span class="classButton">
                        <i class="fa fa-share-square fa-2x"></i>
                    </span>
                    <button id="postMessageButton" class="btn btn-primary" hidden></button>
                </label>
            </div>
            <div class="image-upload">
                <small>250 characters&nbsp;&nbsp;&nbsp;-</small>&nbsp;&nbsp;
                <label for="files">
                    <span title="Attach image">
                        <i class="fa fa-paperclip fa-1x"></i>
                        <input id="files" type="file" name="files[]" accept="image/gif, image/jpeg, image/png" hidden> 
                        <small>Attach image</small>&nbsp;&nbsp;
                    </span>
                </label>
                <span id="filesClear" title="Detach image">
                    <i class="fa fa-unlink fa-1x"></i>
                    <small>Detach image</small>
                </span>
            </div>
        </div>
    </section>    
    <!-- End 3rd section -->
</div>
<!-- End row -->
{% endblock %}
